#root {
  scale: .8;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin-top: -60px;
  font-family: 'DreamSparks' !important;
  font-size: 20px !important;
  color: grey;
}
h2 {
  font-family: 'DreamSparks';

}

canvas {
  margin-top: -100px;
}
.button-container {
  margin-top: -100px;
  margin-left: -20px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

canvas {
  /* scale: 0.8 */
}

button {
  margin: 10px;
}

.reveals-section:hover {
  color: blue;
  cursor: pointer;
}


.grid-container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  /* margin-left: 20p; */
  text-align: center;
}

.grid-item {
  text-align: center;
  display: flex;
  justify-content: center;
  /* background: linear-gradient(to bottom, white, black, black 40%, white 60%); */
  padding-bottom: 80%; /* Maintain square shape */
}

.item {
  width: 20vw;
  position: absolute;
}

img {
  padding: 20px;
}

.item:hover {
  box-shadow: 5px 5px 20px rgb(216, 216, 216);
}

*, *::before, *::after { box-sizing: border-box; }